<div class="coffee_container">
  <!-- <button class="button" (click)="OpenEntity()">
    Напитоци без Кофеин / Drinks without Coffein
  </button> -->
  <button class="button" routerLink="/home">
    Назад / Back
  </button>
  <div *ngIf="!cocktailBool">
    <div *ngFor="let drink of drinksWithoutCoffein" class="coffee_card">
      <div class="name_and_price_wrapper">
        <h3>{{ drink.name }}</h3>
        <p>
          <strong>{{ drink.price }}</strong>
        </p>
      </div>
      <div class="description_wrapper">
        <p>{{ drink.description }}</p>
      </div>
    </div>
  </div>
<div class="weekend_container" *ngIf="cocktailBool">
  <p>Не служиме кафе после 21:00 часот Петок и Сабота</p>
  <hr />
  <p>We do not serve coffee after 21:00h Friday and Saturday</p>
  <div>
    <p>Cocktail Night</p>
    <img src="../../../assets/images/cocktails2.jpg" alt="sorry.jpg" routerLink="/coctails" />
  </div>
</div>
  <button class="button" routerLink="/home">
    Назад / Back
  </button>
</div>
