<div class="coffee_container">
  <button class="button" (click)="OpenEntity()">
    Напитоци без Кофеин / Drinks without Coffein
  </button>
  <div *ngIf="toggle">
    <div *ngFor="let drink of drinksWithoutCoffein" class="coffee_card">
      <div class="name_and_price_wrapper">
        <h3>{{ drink.name }}</h3>
        <p>
          <strong>{{ drink.price }}</strong>
        </p>
      </div>
      <div class="description_wrapper">
        <p>{{ drink.description }}</p>
      </div>
    </div>
  </div>
</div>
