<!-- <div class="app_container">
  <span>🔰</span>
  <div style="align-items: center">
    <img
      src="../assets/images/logo.png"
      alt="logo"
      style="width: 100px; padding-left: 26px"
    />

    <h1>МЕНИ</h1>
  </div>
  <span>🔰</span>
</div>
<button class="button1" (click)="btnClick($event)" [value]="test">test</button> -->


<router-outlet></router-outlet>
<!-- <app-coffee></app-coffee> -->
<!-- <app-coffee-with-milk></app-coffee-with-milk>
<app-drinks-without-coffein></app-drinks-without-coffein>
<app-breakfast></app-breakfast>
<app-non-alcoholic-drinks></app-non-alcoholic-drinks>
<app-fresh-juices></app-fresh-juices>
<app-alchocol-drinks></app-alchocol-drinks>
<app-cocktails></app-cocktails> -->
