.app_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 101px;
}
.coffee_container .button {
  background: linear-gradient(to bottom, #000000 0%, #363232 100%);
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}

.coffee_type {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.coffee_type_two,
.coffee_type_three {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.weekend_container p {
  margin: 10px 10px;
  text-align: center;
}

.weekend_container hr {
  width: 90%;
  background-color: sandybrown;
}

.weekend_container div p {
  position: relative;
  top: 100px;
  font-size: 25px;
  margin: 0;
  color: aqua;
  opacity: 0.5;
}

.weekend_container div img {
  object-fit: cover;
  width: 100%;
}

.name_and_price_wrapper h3 {
  font-size: 16px;
}

.promotionClass {
  text-decoration-line: line-through;
}

.promotionClass2 {
  color: #000000;
}

.name_and_price_wrapper p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description_wrapper p {
  font-size: 15px;
}

.on_promotion {
  font-size: 14px;
  font-family: cursive;
  color: darkmagenta;
  position: absolute;
  right: 90px;
  transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  animation: myAnim 2s ease 0s infinite normal none;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

p,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
