<div class="coffee_container">
  <button class="button" routerLink="/home">
    Назад / Back
  </button>
  <div>
    <div *ngFor="let coffee of coffeeWithMilk" class="coffee_card">
      <div class="name_and_price_wrapper">
        <h3>{{ coffee.name }}</h3>
        <p>
          <strong>{{ coffee.price }}</strong>
        </p>
      </div>
      <div class="description_wrapper">
        <p>{{ coffee.description }}</p>
      </div>
    </div>
  </div>
  <button class="button" routerLink="/home">
    Назад / Back
  </button>
</div>
