.button {
  /* background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%); */
  background: linear-gradient(to bottom, #000000 0%, #363232 100%);

  /* background-image: url("https://i.pinimg.com/736x/23/d4/c6/23d4c69fcdaff871dbc6269fd4129b30.jpg"); */
  /* background-image: url("https://img.freepik.com/free-vector/watercolor-alcohol-ink-background_23-2149232016.jpg?w=2000"); */
  /* background-repeat: no-repeat;
  background-size: 100%; */
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  color: white;
}

.alchocol_type {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.alchocol_name {
  font-weight: normal;
}

.beerCss {
  background-color: #a55270b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin: 15px 0;
}

.martiniCss {
  background-color: hsla(281, 42%, 59%, 0.69);
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.digestifsCss {
  background-color: #5f2e40b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.ginCss {
  background-color: #4973ceb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: cursive;
}

.rumCss {
  background-color: #adaf3fb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: cursive;
}

.liquerCss {
  background-color: #e0d88bb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: cursive;
}

.vodkaCss {
  background-color: #d8d0d3b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.cognacCss {
  background-color: #9c9a1eb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.brandyCss {
  background-color: #d5e9a0d3;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.tequilaCss {
  background-color: #c2b4b9ee;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-bottom: 15px;
}

.whiskeyCss {
  background-color: #caaa4088;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
  margin-top: 15px;
}

@media only screen and (min-width: 600px) {
  .alchocol_main_wrapper {
    width: 100%;
  }
  .alchocol_wrapper_one,
  .alchocol_wrapper_two {
    width: 95%;
  }
  .beerCss,
  .martiniCss,
  .digestifsCss,
  .ginCss,
  .rumCss,
  .liquerCss,
  .vodkaCss,
  .cognacCss,
  .brandyCss,
  .tequilaCss,
  .whiskeyCss {
    width: 500px;
  }
}
