.button {
  background: linear-gradient(to bottom, #000000 0%, #363232 100%);
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}

.alchocol_type {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.alchocol_name {
  font-weight: normal;
}

.promotionClass {
  text-decoration-line: line-through;
}

.promotionClass2 {
  color: #000000;

}

.name_and_price_wrapper p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.on_promotion {
  margin-right: 30px;
  padding-bottom: 400px;
  font-size: 15px;
  color: darkmagenta;
  position: absolute;
  right: 90px;
  animation: myAnim 2s ease 0s infinite normal none;
}
.beerCss {
  background-color: #a55270b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 15px 0;
}

.martiniCss {
  background-color: hsla(281, 42%, 59%, 0.69);
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.digestifsCss {
  background-color: #5f2e40b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.ginCss {
  background-color: #4973ceb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.rumCss {
  background-color: #adaf3fb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.liquerCss {
  background-color: #e0d88bb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.vodkaCss {
  background-color: #d8d0d3b0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cognacCss {
  background-color: #9c9a1eb0;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.brandyCss {
  background-color: #d5e9a0d3;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.tequilaCss {
  background-color: #c2b4b9ee;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 15px;
}

.whiskeyCss {
  background-color: #caaa4088;
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 15px;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.13);
  }

  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 600px) {
  .alchocol_main_wrapper {
    width: 100%;
  }
  .alchocol_wrapper_one,
  .alchocol_wrapper_two {
    width: 95%;
  }
  .beerCss,
  .martiniCss,
  .digestifsCss,
  .ginCss,
  .rumCss,
  .liquerCss,
  .vodkaCss,
  .cognacCss,
  .brandyCss,
  .tequilaCss,
  .whiskeyCss {
    width: 500px;
  }
}
