<div class="coffee_container">
  <button class="button_back1" routerLink="/home">{{"BACK" | translate}}</button>
  <div class="alchocol_main_wrapper">
    <div class="alchocol_wrapper_one">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="beerCss"> Пиво / Beer </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of beer" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="martiniCss">
              Мартини / Martini
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of martini" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="digestifsCss">
              Дигестиви / Digestifs
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of digestifs" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="ginCss"> Џин / Gin </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of gin" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="rumCss"> Рум / Rum </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of rum" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="liquerCss">
              Ликери / Liquers
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of liquers" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="vodkaCss"> Вотка / Vodka </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of vodka" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="cognacCss">
              Коњак / Cognac
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of cognac" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="brandyCss">
              Бренди / Brandy
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of brandy" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="tequilaCss">
              Текила / Tequila
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <div *ngFor="let drink of tequila" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice
                        ? 'promotionClass'
                        : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
          style="background-color: #f1e5cf !important; box-shadow: none">
          <mat-expansion-panel-header>
            <mat-panel-title class="whiskeyCss">
              Виски / Whisk(e)y
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="alchocol_wrapper_two">
            <p class="alchocol_type">Шкотско виски / Scotch whisky</p>
            <div *ngFor="let drink of whisky" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice ? 'promotionClass' : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
            <!-- *Irish Whiskey container -->
            <p class="alchocol_type">Ирско Виски / Irish Whiskey</p>
            <div class="alchocol_wrapper_two" *ngFor="let drink of irishWhisky" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                      drink.promotionPrice ? 'promotionClass' : 'promotionClass2'
                    ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
            <!-- *Bourbon container -->
            <p class="alchocol_type">Бурбон Виски / Bourbon Whiskey</p>
            <div class="alchocol_wrapper_two" *ngFor="let drink of bourbonWhisky" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                                                                drink.promotionPrice ? 'promotionClass' : 'promotionClass2'
                                                              ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}
                  </strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>
            </div>
            <!-- *American container -->
            <p class="alchocol_type">Американско Виски / American Whiskey</p>
            <div class="alchocol_wrapper_two" *ngFor="let drink of americanWhisky" class="coffee_card">
              <div class="name_and_price_wrapper">
                <h3 class="alchocol_name">{{ drink.name }}</h3>
                <p>
                  <strong [ngClass]="
                                                                drink.promotionPrice ? 'promotionClass' : 'promotionClass2'
                                                              ">{{ drink.price }}</strong>

                  <strong *ngIf="drink.promotionPrice">
                    <span class="on_promotion">Promotion</span>
                    {{ drink.promotionPrice }}</strong>
                </p>
              </div>
              <div class="description_wrapper">
                <p>{{ drink.description }}</p>
              </div>

            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <button class="button_back2" routerLink="/home">{{"BACK" | translate}}</button>
</div>
