<div class="coffee_container">
  <button class="button" (click)="OpenEntity()">
    Breakfast at Coffee In from 09:30h - 12:00h
  </button>
  <div *ngIf="toggle">
    <div *ngFor="let food of breakfast" class="coffee_card">
      <div class="name_and_price_wrapper">
        <h3>{{ food.name }}</h3>
        <p>
          <strong>{{ food.price }}</strong>
        </p>
      </div>
      <div class="description_wrapper">
        <p>{{ food.description }}</p>
      </div>
    </div>
  </div>
</div>
