<div class="coffee_container">
  <button routerLink="/home">
    <span style="color: white">Назад</span> / Back
  </button>
  <div class="normal_days_container">
    <div *ngFor="let coffee of coffee" class="coffee_card">
      <div class="name_and_price_wrapper">
        <h3>{{ coffee.name }}</h3>
        <p>
          <strong>{{ coffee.price }}</strong>
        </p>
      </div>
      <div class="description_wrapper">
        <p>{{ coffee.description }}</p>
      </div>
    </div>
    <div class="supplements">
      <p>* додаток веганско млеко +20ден.</p>
      <p>* безкофеинско кафе +20ден.</p>
    </div>
  </div>
  <div
    class="weekend_container"
    *ngIf="
      (coffeeDay === 'Friday' && coffeeTime >= '9 PM' && coffeeTime < '3 AM') ||
      (coffeeDay === 'Saturday' && coffeeTime >= '9 PM' && coffeeTime <= '3 AM')
    "
  >
    <p>Не служиме кафе после 21:00 часот Петок и Сабота</p>
    <hr />
    <p>We do not serve coffee after 21:00h Friday and Saturday</p>
    <div>
      <p>Cocktail Night</p>
      <img src="../../../assets/images/cocktails2.jpg" alt="sorry.jpg" />
    </div>
  </div>
  <button routerLink="/home">
    <span style="color: white">Назад</span> / Back
  </button>
</div>
