.coffee_container button {
  background-color: #dfa55eb0;
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: cursive;
}
