<div class="coffee_container">
  <button (click)="OpenEntity()">Кафе / Coffee</button>
  <div *ngIf="toggle">
  <div *ngFor="let coffee of coffee" class="coffee_card">
    <div class="name_and_price_wrapper">
      <h3>{{ coffee.name }}</h3>
      <p>
        <strong>{{ coffee.price }}</strong>
      </p>
    </div>
    <div class="description_wrapper">
      <p>{{ coffee.description }}</p>
    </div>
  </div>
  <div class="supplements">
    <p>* додаток веганско млеко +20ден.</p>
    <p>* безкофеинско кафе +20ден.</p>
  </div>
</div>
</div>
